<h1>Pages#contact</h1>

<p><%= number_to_phone "+79991112230" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "74.225" %></p>

<p><%= number_with_delimiter "150872638" %></p>
